@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600;700;900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #D9A918;
  font-family: "Playfair Display", serif;
  font-size: 0.938rem;
  color: #0D0D0D;
  margin-bottom: 3rem;
}

h1, h2, h3, h4 {
  color: #0D0D0D;
  font-weight: 600;
}

a {
  text-decoration: none;
  color: #0D0D0D;
}

ul {
  list-style: none;
}

img {
  max-width: 100%;
}

.section {
  padding: 2rem 0 4rem;
}

.btn {
  font-weight: 600;
}

.container {
  max-width: 768px;
  margin-left: 1.5rem;
  margin-right: 1.5rem;
}

.grid {
  display: grid;
  gap: 1.5rem;
}

.header {
  background-color: #D9A918;
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 100;
}

.nav {
  max-width: 968px;
  height: 3rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav .logo, .nav .nav-toggle {
  font-weight: 700;
}
.nav .logo:hover {
  color: #f8a919;
}
.nav .nav-toggle {
  font-size: 1.1rem;
  cursor: pointer;
}
.nav .nav-toggle:hover {
  color: #f8a919;
}
.nav .nav-list {
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
}
.nav .nav-link {
  color: #fff;
  font-size: 0.813rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.nav .nav-link:hover {
  color: #eecd69;
}
.nav .nav-icon {
  font-size: 1.2rem;
}
.nav .nav-close {
  color: #fff;
  font-size: 1.5;
  position: absolute;
  right: 1.3rem;
  bottom: 0.5rem;
  cursor: pointer;
}
.nav .nav-close:hover {
  color: #f8a919;
}
.nav .show-menu {
  bottom: 0;
}
.nav .hide-menu {
  bottom: -100%;
}

@media screen and (max-width: 767px) {
  .nav-menu {
    background-color: #0D0D0D;
    width: 100%;
    font-weight: 600;
    position: fixed;
    bottom: -100%;
    left: 0;
    padding: 2rem 1.5rem 4rem;
    box-shadow: 0 -1px 4px rgba(0, 0, 0, 0.15);
    border-radius: 1.5rem 1.5rem 0 0;
    transition: 0.5s;
  }
}
.home-container {
  gap: 1rem;
}
.home-container .home-content {
  grid-template-columns: 0.5fr 3fr;
  padding-top: 3.5rem;
  align-items: center;
}
.home-container .home-social {
  display: grid;
  grid-template-columns: max-content;
  row-gap: 1rem;
}
.home-container .home-social-icon {
  font-size: 1.25rem;
  color: #0D0D0D;
}
.home-container .home-social-icon:hover {
  color: #d88e06;
}
.home-container .home-blob {
  width: 200px;
}
.home-container .home-data {
  grid-column: 1/3;
}
.home-container .home-title {
  font-size: 2rem;
  margin-bottom: 2px;
}
.home-container .home-subtitle {
  font-size: 1.25rem;
  color: #A66D05;
  font-weight: 500;
  margin-bottom: 30px;
}
.home-container .home-description {
  margin-bottom: 10px;
}
.home-container .btn {
  display: inline-block;
  background-color: #A66D05;
  padding: 1rem;
  border-radius: 0.5rem;
}
.home-container .btn:hover {
  background-color: #eecd69;
}
.home-container .btn-flex {
  display: inline-flex;
  align-items: center;
}
.home-container .home-scroll {
  display: none;
}
.home-container .scroll-button {
  transition: 0.3s;
}
.home-container .scroll-button:hover {
  transform: translateY(0.25rem);
}
.home-container .scroll-mouse {
  font-size: 2rem;
}
.home-container .scroll-down {
  font-size: 0.75rem;
  color: #0D0D0D;
  margin-right: 3px;
}
.home-container .scroll-arrow {
  font-size: 1.25rem;
}/*# sourceMappingURL=style.css.map */